.PeopleSay{
    .card{
        border-radius: 30px;
        min-height: auto !important;
        width: 100% !important;
        box-shadow: 0px 0px 20px rgba(0, 0, 0 ,.25);
        h4{
            font-weight: 600;
            font-size: 26px;
        }
        p{
            font-size: 26px;
            font-weight: 500;
            @media(max-width: 576px) {
                font-size: 16px;  
            }
        }
        img{
            max-height: initial !important;
            max-width: 100% !important;
        }
       

        // .popup{
        //     width:295px;
        //     height:164px;
        //     position: absolute;
        //     border-radius: 10px;
        //     bottom: 77px;
        //     right: -251px;
        //     z-index: 99;
        //     visibility: hidden;
        //     transition: all 0.3 ease;
        //     &::after{
        //         position: absolute;
        //         content: '';
        //         width: 0;
        //         height: 0;
        //         border-bottom: 26px solid #DD87B8;
        //         border-left: 29px solid transparent;
        //         left: -22px;
        //         bottom:0px;
        //     }
        //     small{
        //         line-height: 17px !important;
        //         display: block;
        //     }
        // }

        // &:hover .popup{
        //     visibility: visible;
        // }
    }
    .slick-slide {
        padding: 24px;
    }
}