.attacment{
    .sr-only {
        position: absolute;
        margin: -1px;
        width: 1px;
        height: 1px;
        border: 0;
        clip: rect(0, 0, 0, 0);
        overflow: hidden;
      }
      
      .btn {
        display: inline-block;
        padding: .5rem 1rem;
        border-radius: .25rem;
        color: #000;
        cursor: pointer;
      }
      
      [type=file]:focus + .btn {
        outline: 5px solid #a52;
      }
}