.btn-wrapper{
    .btn2{
        padding: 11px 10px !important;
        width: 100%;
        background-color: transparent;
        border: 2px solid  #DD87B8 !important;
        color: #DD87B8 !important;
        font-weight: 600;
    }
    .btn-b{
        padding: 14px 10px !important;
        font-weight: 600;   
        background-color: #DD87B8 !important;
    }
}
.list{
    list-style: none;
    padding-left: 8px;
    margin: 0;
    li{
        font-size: 16px;
        line-height: 28px;
        @media (max-width: 576px) {
            font-size: 12px;
        }
    }
}

// base
.flip {
    position: relative;
    >.front,
    >.back {
        
        transition-timing-function: cubic-bezier(.175, .885, .32, 1.275);
        transition-duration: 1.7s;
        transition-property: transform, opacity;
    }
    >.front {
        transform: rotateY(0deg);
    }
    >.back {
        position: absolute;
        opacity: 0;
        top:0;
        left: 3%;
        width: 94%;
        height: 100%;
        transform: rotateY(-180deg);
    }
    &:hover {
        >.front {
            transform: rotateY(180deg);
            box-shadow: none !important;
        }
        >.back {
            opacity: 1;
            background-color: #fff !important;
            transform: rotateY(0deg);
            box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
        }
    }
 
}

