.btn-wrapper{
    .btn2{
        padding: 11px 10px !important;
        width: 100%;
        background-color: transparent;
        border: 2px solid  #DD87B8 !important;
        color: #DD87B8 !important;
        font-weight: 600;
    }
    .btn-b{
        padding: 14px 10px !important;
        font-weight: 600;   
        background-color: #DD87B8 !important;
    }
}
.list{
    list-style: none;
    padding-left: 8px;
    margin: 0;
    li{
        font-size: 14px;
        @media (max-width: 576px) {
            font-size: 12px;
        }
    }
}

