.team{
    .card{
        min-height: auto !important;
        cursor: pointer;
        img{
            max-height: initial !important;
            border-radius: 10px 10px 0px 0px !important;
        }
    }
    .card-body{
          padding: 15px 10px 32px 25px;
          border: 6px solid #E86275;
          border-radius: 0px 0px 10px 10px !important;
    }
}
.meet-overlay{
    background-color: #E86275 !important;
    small{
        font-size: 14px;
        font-weight: 500;
    }
  
}
.meet-overlay::after {
 
    border-bottom: 26px solid #E86275 !important;
  
}