.btn-wrapper-solution{
    .btn2{
        padding: 11px 10px !important;
        width: 100%;
        background-color: transparent;
        border: 2px solid #1CAFE1 !important;
        color: #1CAFE1 !important;
        font-weight: 600;
    }
    .btn-b{
        padding: 14px 10px !important;
        font-weight: 600;
    }
}
.bg-solution{
    background: rgba(28, 175, 225, 0.15);
}