header{
    .slide-1{
        background: url(../assets/slide1.png) no-repeat center center/cover;
        height: 750px;
        display: flex !important;
        align-items: center;
        @media(max-width: 576px){
            height: 450px;
        }
    }
    h1{
        font-weight: bold;
        font-size: 64px;
        line-height: 72px;
        color: #000000;
        @media(max-width: 576px){
            font-size: 30px;
            line-height: 46px;
        }
    }
    p{
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #000000;
    }
    .slick-slider{
        .slick-dots{
            bottom: -54px;
            li{
                width: 46px;
                height: 5px;
                background: #7F7F7F;
                border-radius: 5px;
                margin: 0 9px;
                button{
                    &:before{
                        font-size: 0px;
                        width: 46px;
                        height: 5px;
                    }
                }
            }
            
            li.slick-active button:before {
                font-size: 0px;
                opacity: .75;
                color: rgb(255, 255, 255);
                background: #EE8998;
                border-radius: 5px;
                width: 46px;
                height: 5px;
             }
        }
    }
}

