footer{
    .nav-link{
        padding: 0.3rem 0rem !important; 
        font-size: 14px;
        
    }
    .socisl-media{
        .nav-link{
            padding: 8px;
            margin: 0px 8px;
        }
    }
}