$primary: #E86275;
$primary-light:#FFDBDB;
$secondary: #48C1C6;
$success: #3e8d63;
$info: #D1EFF1;
$warning: #FFF2CB;
$danger: #d62518;
$light: #F1F1F1;
$light1:#EAEAEA;
$dark: #000000;
$white: #ffffff;

$accent : #C4C4C4;
$blue: #DD87B8;
$text-sky:#1CAFE1;
 

// this is used to map colors. change accordingly.
$theme-colors: (
  primary: $primary,
  primary-light: $primary-light,
  secondary: $secondary,
  success: $success,
  info: $info,
  warning: $warning,
  danger: $danger,
  light: $light,
  dark: $dark,
  accent: $accent,
  blue:$blue,
);
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 5.4,
  7: $spacer * 6.6,
  8: $spacer * 4,
  9: $spacer * 8,
  10: $spacer * 10.4,
);
.text-blue{
  color: $blue;
}
.bg-light2{
  background: rgba(226, 232, 249, 0.5);
}
.bg-light3{
  background: rgba(226 ,249, 232, 0.5);
}
.bg-light4{
  background: rgba(249, 249, 226, 0.5);
}
.bg-light5{
 background: rgba(249, 234, 226, 0.5);
}

.bg-service{
   background: rgba(221, 135, 184, 0.15);
}
.bg-business{
  background: rgba(72, 193, 198, 0.15);
}
.bg-team{
  background: rgba(238, 137, 152, 0.15);
}
.bg-contact{
  background: rgba(72, 193, 198, 0.15);
}
.rounded-8{
  border-radius: 50px;
}
.bg-blue{
  background-color: $blue;
}
.text-sky{
  color:$text-sky !important;
}
$table-striped-bg-factor:     0;
$table-hover-bg-factor:       0;

.table-striped > tbody > tr:nth-of-type(even) {
  background-color: $light1 !important;
  color: var(--bs-table-striped-color);
}
.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: $white !important;
  color: var(--bs-table-striped-color);
}
.table-hover > tbody > tr:hover {
  --bs-table-accent-bg: var(--bs-table-hover-bg);
  color: var(--bs-table-hover-color);
}
// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';