#navihation{
    .nav-link{
        color: #000000;
        font-weight: 600;
        font-size: 14px;
        padding: 0px 0px;
        margin: 29px 30px;
        &:hover{
            color: #E86275;
        }
    }
    .dropdown-menu{
padding: 8px !important;
    }
}